In [107]:
import pandas as pd
import numpy as np
import winsound

# Importing data
df = pd.read_csv("PghRestaurantAllYear.csv",dtype=str)
df.head()

,Version Year,IUSA Number,Company Name,Address,City,State,ZIP Code,Primary SIC Description
0,2020,43-355-8116,KAYA,2000 Smallman St # 9,Pittsburgh,PA,15222,Restaurants
1,2021,43-355-8116,KAYA,2000 Smallman St # 9,Pittsburgh,PA,15222,Restaurants
2,2019,43-355-8116,KAYA,2000 Smallman St # 9,Pittsburgh,PA,15222,Restaurants
3,2019,40-420-8198,Kayla's Cafe,307 North Ave,Pittsburgh,PA,15209,Restaurants
4,2021,73-208-5301,KAZI Automotive,625 W Warrington Ave,Pittsburgh,PA,15226,Automobile Repairing & Service

In [108]:
# Create field
df['Y2019'] = np.where(df['Version Year'] == '2019', 1, 0)
df['Y2020'] = np.where(df['Version Year'] == '2020', 1, 0)
df['Y2021'] = np.where(df['Version Year'] == '2021', 1, 0)
df.head()

,Version Year,IUSA Number,Company Name,Address,City,State,ZIP Code,Primary SIC Description,Y2019,Y2020,Y2021
0,2020,43-355-8116,KAYA,2000 Smallman St # 9,Pittsburgh,PA,15222,Restaurants,0,1,0
1,2021,43-355-8116,KAYA,2000 Smallman St # 9,Pittsburgh,PA,15222,Restaurants,0,0,1
2,2019,43-355-8116,KAYA,2000 Smallman St # 9,Pittsburgh,PA,15222,Restaurants,1,0,0
3,2019,40-420-8198,Kayla's Cafe,307 North Ave,Pittsburgh,PA,15209,Restaurants,1,0,0
4,2021,73-208-5301,KAZI Automotive,625 W Warrington Ave,Pittsburgh,PA,15226,Automobile Repairing & Service,0,0,1

In [109]:
df = df.groupby(["IUSA Number"]).sum().reset_index()
df

      IUSA Number  Y2019  Y2020  Y2021
0     00-268-7606      1      1      1
1     00-326-1245      1      1      1
2     00-866-7537      1      1      1
3     00-929-3945      1      1      1
4     11-815-7221      1      1      1
...           ...    ...    ...    ...
2492  98-137-6593      1      1      1
2493  98-137-6833      1      1      1
2494  98-241-1282      1      1      1
2495  98-241-1456      1      1      1
2496  98-922-0892      1      1      1

[2497 rows x 4 columns]

In [110]:
#export
df.to_csv("IUSAYear" + ".csv",index=False)

#FINISH
duration = 1000  # milliseconds
freq = 440  # Hz
winsound.Beep(freq, duration)